{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">My Profile</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="text-muted">Default Delivery Information</p>
                <form class="mt-3" action="{% url 'profile' %}" method="POST" id="profile-update-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn btn-black rounded-0 text-uppercase float-right">Update Information</button>
                </form>
            </div>
            <div class="col-12 col-xl-6">
                <div class="row">
                    <div class="col-4"><p class="text-muted">Order History</p></div>
                </div>                
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th>Order Number</th>
                                <th>Date</th>
                                <th>Items</th>
                                <th>Order Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}
                                        </a>
                                    </td>
                                    <td>{{ order.date }}</td>
                                    <td>
                                        <ul class="list-unstyled">
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    {% if item.product.has_sizes %}
                                                        Size {{ item.product.size|upper }}
                                                    {% endif %}{{ item.product.name }} x{{ item.quantity }}
                                                </li>                                            
                                        </ul>
                                    </td>
                                    <td>${{ order.grand_total }}</td>
                                    <td>
                                        <a class="btn btn-black rounded-0 text-uppercase" href="{% url 'add_review' item.product.id %}">Add Review</a>
                                    </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12">
                <p><a class="text-muted" href="{% url 'wishlist' %}">My Wishlist</a></p>
                {% if wishlist_items %}
                <div>
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                            <tr>
                                <td class="p-3 w-25">
                                    {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="img-fluid rounded" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <p class="my-0"><strong>{{ product.name }}</strong></p>
                                    <p class="my-0 small text-muted">SKU: {{ product.sku|upper }}</p>
                                </td>
                                <td>
                                    <p class="my-0">${{ product.price }}</p>
                                </td>
                                <td>
                                    <div class="col-12" style="padding-left: 0;">
                                        <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="form-row">
                                                <div class="col-6">
                                                    <div class="form-group w-10">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <button class="decrement-qty btn btn-black rounded-0"
                                                                    data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                                    <span class="icon">
                                                                        <i class="fas fa-minus"></i>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                            <input class="form-control qty_input" type="number"
                                                                name="quantity" value="1" min="1" max="99"
                                                                data-item_id="{{ product.id }}"
                                                                id="id_qty_{{ product.id }}">
                                                            <div class="input-group-append">
                                                                <button class="increment-qty btn btn-black rounded-0" 
                                                                    data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                                    <span class="icon">
                                                                        <i class="fas fa-plus"></i>
                                                                    </span>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <input type="submit" class="btn btn-black rounded-0 text-uppercase" value="Add to Bag">
                                                </div>
                                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                            </div>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                <div class="col-12">
                    <p class="my-0 small text-muted">You haven't added any items to your wishlist yet.</p>
                </div>
                {% endif %}
            </div>
            <div class="col-12">
                <p><a class="text-muted" href="{% url 'reviews' %}">My Reviews</a></p>
                <div>
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Review</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in review_items %}
                            <tr>
                                <td class="p-3 w-25">
                                    {% if item.product.image %}
                                    <a href="{% url 'product_detail' item.product.id %}">
                                        <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    </a>
                                        {% else %}
                                    <a href="{% url 'product_detail' item.product.id %}">
                                        <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                    </a>
                                    {% endif %}
                                </td>
                                <td>
                                    <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                    <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                </td>
                                <td>
                                    <p class="my-0">${{ item.product.price }}</p>
                                </td>
                                <td>
                                    <p class="my-0">{{ item.review }}</p>
                                </td>
                                <td>
                                    <small class="ml-3">
                                        <a href="{% url 'edit_review' item.id %}">Edit</a>
                                        <a class="text-danger" href="{% url 'delete_review' item.id %}">Delete</a>
                                    </small>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
    {% include 'products/includes/quantity_input_script.html' %}
{% endblock %}